@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: rgb(36, 37, 38);
  padding: 0px 10px;
  overflow: hidden;
  position: fixed;
  z-index: 111111;
  border-bottom: 1px solid rgb(58, 59, 60);
}

.navbar_left {
  display: flex;
  align-items: center;
}

.navbar_left-logo {
  /* width: 50px; */
  /* height: 50px; */
  cursor: pointer;
}

.navbar_left-logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar_left-input {
  width: 260px;
  background-color: rgb(58, 59, 60);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 0px 15px;
}

.input {
  color: rgb(184, 187, 191);
  height: 35px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
}

.fa-search {
  color: rgb(184, 187, 191);
}

.navbar_middle {
  display: flex;
}

.navbar_middle-icon {
  color: rgb(184, 187, 191);
  margin-left: 25px;
  width: 100px;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.navbar_middle-icon:hover {
  background-color: rgb(58, 59, 60);
  border-radius: 5px;
  cursor: pointer;
}

.navbar_right {
  display: flex;
}

.navbar_right-icon {
  color: white;
  background-color: rgb(58, 59, 60);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.navbar_right-icon:hover {
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  width: 40px;
  border-radius: 50%;
}

.main {
  background-color: rgb(36, 37, 38);
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
}
.cover {
  background-color: rgb(24, 25, 26);
  height: 450px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.information {
  display: flex;
  position: relative;
  z-index: 9999;
  top: 50%;
  left: 0;
  transform: translateY(-20%);
  border-bottom: 1px solid rgb(71, 72, 73);
  padding-bottom: 10px;
}

.container-sub {
  max-width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}

.information-avatar {
  width: 168px;
  border-radius: 50%;
}

.information-avatar img {
  width: 100%;
  border-radius: inherit;
  border: 3px solid rgb(36, 37, 38);
}

.information-about {
  color: white;
  align-self: center;
  margin-left: 15px;
}

.information-about_name {
  font-size: 32px;
}

.information-about_qty {
  color: rgb(167, 168, 175);
  font-weight: 500;
  font-size: 16px;
}

.name {
  font-weight: 700;
}

.information-other {
  display: flex;
  right: 0;
  bottom: 10%;
  position: absolute;
}

.information-other_add .add {
  width: inherit;
  border: none;
  outline: none;
  background-color: #2374e1;
  /* padding: 5px 10px; */
  margin-right: 5px;
}

.information-other_edit .edit {
  width: inherit;
  border: none;
  outline: none;
  background-color: rgb(58, 59, 60);
}

.button {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 700;
}

.button a {
  color: white;
}

.button:hover {
  opacity: 0.8;
}

.note {
  padding-right: 5px;
}

.cover-shadow {
  display: flex;
  justify-self: flex-end;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 0) 10%,
    rgb(17, 17, 17, 0.98) 100%,
    rgba(17, 17, 17, 1) 100%
  );
  bottom: 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-weibo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0077b6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}

.intro-left {
  color: #b0b3b8;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
}

.intro-right {
  color: #b0b3b8;
  width: 48px;
  height: 36px;
  background-color: rgb(58 59 60);
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.intro-right:hover {
  background-color: rgb(81, 83, 85);
}

.intro-sub {
  padding: 15px;
}

.intro-sub:hover {
  background-color: rgb(58 59 60);
  cursor: pointer;
  border-radius: 5px;
}

.main2 {
  background-color: #18191a;
  overflow: hidden;
}

.container2 {
  width: 100%;
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  margin-right: 15px;
}

.container-left {
  /* width: 490px; */
  background-color: rgb(36, 37, 38);
  height: auto;
  border-radius: 8px;
  padding: 15px 15px;
  color: white;
  /* margin-right: 15px; */
}

.container-right {
  background-color: rgb(36, 37, 38);
  height: 123px;
  border-radius: 8px;
}

.tus {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(71, 72, 73);
  text-align: center;
  margin-top: 15px;
}

.introduce {
  font-weight: 700;
  font-size: 20px;
}

.follow {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.follow-p {
  margin-left: 10px;
}

.follow-p span {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #4599ff;
}

.font-16 {
  font-size: 14px;
}

.social-ins {
  margin-top: 15px;
}

.social-ins a:hover {
  text-decoration: underline;
}

.write-post-container {
  padding: 15px 15px 10px 15px;
}

.user-profile img {
  width: 40px;
  border-radius: 50%;
}

.intro7 {
  display: flex;
}

.fa-sort-down {
  margin-left: 5px;
}

.user-profile {
  display: flex;
  border-bottom: 1px solid rgb(71, 72, 73);
  padding-bottom: 10px;
}

.user-profile input {
  width: 100%;
  border-radius: 35px;
  margin-left: 5px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #4e4f50;
  font-size: 17px;
}

.share-post-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.share-post-container a {
  align-items: center;
  display: flex;
  color: #9b9da1;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 5px 40px;
  border-radius: 7px;
  transition: 0.1s;
}

.share-post-container a:hover {
  background-color: rgb(58, 59, 60);
}

.share-post-container img {
  width: 30px;
  height: 30px;
}

.container3 {
  z-index: 11111;
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  height: auto;
}

.container__sub {
  display: flex;
  justify-content: center;
  padding: 0px 25px;
}

.other {
  margin-top: 15px;
  /* width: 490px; */
  background-color: rgb(36, 37, 38);
  border-radius: 8px;
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.other-all {
  color: #4599ff;
  cursor: pointer;
}

.post-introduce {
  margin-top: 18px;
  color: white;
  background: rgb(36, 37, 38);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  width: 85px;
  background-color: #3a3b3c;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}

.filter:hover {
  background-color: #4e4f50;
}

.fa-filter {
  margin-right: 5px;
}

.user-img__profile img {
  width: 100%;
  border-radius: 50%;
}

.user-img {
  display: flex;
}

.user-img__profile {
  width: 40px;
}

.post-container-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.post-container {
  background-color: rgb(36, 37, 38);
  z-index: 11111;
  margin-top: 15px;
  border-radius: 8px;
  padding: 12px 15px 10px 15px;
}

.post-container p {
  color: white;
}

.post-text {
  margin: 8px 0px;
  font-size: 14px;
}

.post-container-info p {
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.post-container-info span {
  font-size: 12px;
  color: gray;
}

.post-img {
  width: 100%;
  border-radius: 8px;
}

.react {
  display: flex;
  border-bottom: 1px solid rgb(71, 72, 73);
  justify-content: space-around;
  padding: 0px 20px;
  padding-bottom: 5px;
}

.like:hover {
  background-color: rgb(58, 59, 60);
}

.like {
  color: rgb(136 141 143);
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

.like span {
  margin-left: 5px;
}

.user-img__comment input {
  padding-left: 10px;
  width: 100%;
  height: 36px;
  border-radius: 35px;
  border: none;
  outline: none;
  margin-left: 5px;
  background-color: #4e4f50;
}

/* .write-post-comment {
  width: 100%;
} */

.user-img__profile {
  display: flex;
}

.user-img__comment {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.user-img__comment img {
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .container__sub {
    display: block;
  }

  /* .container2 {
    align-items: center;
  } */

  .container-left {
    margin-right: 0;
  }

  /* .container-left,
  .other {
    width: 365px;
  } */

  .share-post-container > .event-life {
    display: none;
  }

  .cover {
    height: 155px;
  }

  .information {
    display: block;
  }
  .information-other {
    transform: translate(5%, 15%);
    position: relative;
  }

  .intro {
    margin-top: -60px;
  }

  .navbar_middle,
  .input {
    display: none;
  }

  .navbar_left-input {
    width: 40px;
    height: 40px;
    padding: 0px 12px;
  }

  .react,
  .share-post-container {
    white-space: nowrap;
  }
}

@media screen and (max-width: 376px) {
  .container-left,
  .other {
    width: auto;
  }
}
